*{
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin: 20px;
}
button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    text-transform: uppercase;
    width:100px;
    height:30px;
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    padding: 5px;
}
#quoteDisplay{
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 100px;
    
    height: 30px;
    width: 80%;
}
